[submodule "Utils/EmbeddedCli"]
	path = Utils/EmbeddedCli
	url = https://github.com/MaxLell/EmbeddedCli.git
[submodule "Utils/EmbeddedUtils"]
	path = Utils/EmbeddedUtils
	url = https://github.com/MaxLell/embedded_utils.git